@media screen and (max-width:1200px) {
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        display: flex;
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .slider{
        height: 25vh;
        width: 60vw;
    }
    .card-items img{
        width: 100px;
        height: 100px;
    }
}